footer{
    background-color: rgb(54, 52, 52);
    border: solid white;
    padding: 5rem;
    margin-top: -15rem;
    margin-bottom: 2rem;
}

#footSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#footSocial>a {
    color: white;
}

#footSocial>a :hover {
    color: rgb(78, 78, 78);
}

.pink_theme footer{
    background-color: rgb(251, 157, 157);
    border: solid red;
}

.pink_theme #footSocial>a {
    color: rgb(240, 0, 0);
}

.pink_theme #footSocial>a :hover {
    color: wheat;
}

@media screen and (max-width: 1024px){
    
    footer{
        margin-top: 10rem;
    }

    #footSocial{
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        gap: 0rem;
    }
}